@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* ====================================================
Media Quary
==================================================== */
/* ====================================================
// flexセット
==================================================== */
.base-news img {
  max-width: 100%;
}

.c-ft--montserrat {
  font-family: "Montserrat", sans-serif;
}

.inner {
  width: 100%;
  max-width: 1346px;
  padding: 0 18px;
  margin: 0 auto;
}

.c-bg--gray {
  background: #FAFAFB;
}

.c-btn__01 {
  width: 100%;
  max-width: 173px;
  height: 48px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: white;
  border-radius: 10px;
  background: black;
  border: 1px solid white;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.c-btn__01:hover {
  background: white;
  color: black;
  border: 1px solid black;
}
.c-btn__01--white {
  color: white;
}

.ocym-sec-sns {
  padding: 100px 0;
  color: #161C2D;
}
@media screen and (max-width: 768px) {
  .ocym-sec-sns {
    padding: 50px 0;
  }
}
.ocym-sec-sns .sns-block {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .ocym-sec-sns .sns-block {
    margin-bottom: 50px;
  }
}
.ocym-sec-sns .sns-block__ct {
  width: 50%;
  padding: 0 6% 0 0;
  font-size: 18px;
  line-height: 1.5555555556;
  color: #161C2D;
}
@media screen and (max-width: 768px) {
  .ocym-sec-sns .sns-block__ct {
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }
}
.ocym-sec-sns .sns-block__ct-iframe {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .ocym-sec-sns .sns-block__ct-iframe {
    margin-bottom: 20px;
  }
}
.ocym-sec-sns .sns-block__ct-ttl {
  display: block;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
.ocym-sec-sns .sns-block__ct p {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .ocym-sec-sns .sns-block__ct p {
    margin-bottom: 15px;
  }
}
.ocym-sec-sns .sns-block__ct-box-price {
  display: block;
  font-size: 21px;
  font-weight: 500;
}
.ocym-sec-sns .sns-block__ct-box-note {
  display: block;
  font-weight: 500;
  color: #609BDF;
  font-style: italic;
  margin-bottom: 10px;
}
.ocym-sec-sns .sns-block__img {
  width: 50%;
  border-radius: 28px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .ocym-sec-sns .sns-block__img {
    width: 100%;
  }
}
.ocym-sec-sns .sns-block__img img {
  width: 100%;
  border-radius: 28px;
}
.ocym-sec-sns .sns-block__img--zoom {
  border: 1px solid #464646;
}
.ocym-sec-sns .sns-block__img .js-sns-block .slick-arrow {
  display: none !important;
}
.ocym-sec-sns .sns-block__img .js-sns-block .slick-dots {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}
.ocym-sec-sns .sns-block__img .js-sns-block .slick-dots li {
  text-indent: -9999px;
  width: 18px;
  height: 12px;
  border-radius: 16px;
  background: #0A0A0A33;
  margin: 0 5px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ocym-sec-sns .sns-block__img .js-sns-block .slick-dots li.slick-active {
  width: 60px;
  background: #0A0A0A;
}
.ocym-sec-sns .sns-block--event .sns-block__ct {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 0 0 6%;
}
@media screen and (max-width: 768px) {
  .ocym-sec-sns .sns-block--event .sns-block__ct {
    padding: 0;
    margin-bottom: 0;
  }
}
.ocym-sec-sns .sns-block--event .sns-block__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border: none;
}
@media screen and (max-width: 768px) {
  .ocym-sec-sns .sns-block--event .sns-block__img {
    margin-bottom: 50px;
  }
}
.ocym-sec-sns .sns-block .js-sns-block__item {
  position: relative;
}
.ocym-sec-sns .sns-block .js-sns-block__item .js-zoom {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: absolute;
  bottom: 6%;
  right: 6%;
  background: #ccc;
}
.ocym-sec-sns .sns-cmt {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -40px;
}
.ocym-sec-sns .sns-cmt__item {
  width: 33.333%;
  padding: 0 40px;
}
@media screen and (max-width: 768px) {
  .ocym-sec-sns .sns-cmt__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .ocym-sec-sns .sns-cmt__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 769px) {
  .ocym-sec-sns .sns-cmt__item--center {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
  }
  .ocym-sec-sns .sns-cmt__item--center .sns-cmt__box {
    -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.09);
            box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.09);
  }
}
.ocym-sec-sns .sns-cmt__box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px;
}
@media screen and (max-width: 768px) {
  .ocym-sec-sns .sns-cmt__box {
    background: #F6F6F7;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
  }
}
.ocym-sec-sns .sns-cmt__box-img {
  width: 50px;
}
.ocym-sec-sns .sns-cmt__box-ct {
  width: calc(100% - 50px);
  padding: 0 0 0 15px;
  font-size: 11px;
  line-height: 1.3818181818;
}
@media screen and (max-width: 768px) {
  .ocym-sec-sns .sns-cmt__box-ct {
    font-size: 12px;
    line-height: 1.4333333333;
  }
}
.ocym-sec-sns .sns-cmt__box-ct-name {
  display: block;
  font-size: 17px;
  color: black;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .ocym-sec-sns .sns-cmt__box-ct-name {
    font-size: 20px;
  }
}
.ocym-sec-sns .sns-cmt__box-ct-note {
  display: block;
  font-size: 12px;
  color: #707070;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .ocym-sec-sns .sns-cmt__box-ct-note {
    font-size: 13px;
  }
}
.ocym-sec-sns .sns-cmt__box-ct p {
  margin-bottom: 15px;
}
.ocym-sec-sns .sns-cmt__box-ct-start {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.ocym-sec-sns .sns-cmt__box-ct-start .sns-start {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 2px;
  background: url("../img/top/star.png") no-repeat;
  background-size: 100%;
}
.ocym-sec-sns .sns-cmt__box-ct-start .sns-start:nth-child(1) {
  margin-left: 0;
}
.ocym-sec-sns .sns-cmt__box-ct-start .sns-start--halt {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 2px;
  background: url("../img/top/star-half.png") no-repeat;
  background-size: 100%;
}

.ocym-sec-product {
  background: black;
  color: white;
  padding: 60px 0;
}
.ocym-sec-product .inner {
  max-width: 1125px;
}
.ocym-sec-product .product-ttl {
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .ocym-sec-product .product-ttl {
    font-size: 28px;
  }
}
.ocym-sec-product .product-list {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 1.3333333333;
}
@media screen and (max-width: 768px) {
  .ocym-sec-product .product-list {
    font-size: 18px;
  }
}
.ocym-sec-product .product-list__item {
  width: 33.333%;
  padding: 0 15px;
}
@media screen and (max-width: 768px) {
  .ocym-sec-product .product-list__item {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .ocym-sec-product .product-list__item:last-child {
    margin-bottom: 0;
  }
}
.ocym-sec-product .product-list__img {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .ocym-sec-product .product-list__img {
    width: 40%;
    margin-bottom: 0;
  }
}
.ocym-sec-product .product-list__img img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .ocym-sec-product .product-list__ct {
    width: 60%;
    padding: 0 0 0 15px;
  }
}
.ocym-sec-product .product-list__ct-ttl {
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .ocym-sec-product .product-list__ct-ttl {
    margin-bottom: 10px;
  }
}
.ocym-sec-product .product-list__ct-price {
  font-style: italic;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  .ocym-sec-product .product-list__ct-price {
    margin-bottom: 10px;
  }
}

.ocym-sec-about {
  padding: 60px 0;
  color: #161C2D;
  font-family: "Montserrat", sans-serif;
}
.ocym-sec-about .about-block {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.ocym-sec-about .about-block__img {
  width: 65%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .ocym-sec-about .about-block__img {
    width: 100%;
    margin-bottom: 20px;
  }
}
.ocym-sec-about .about-block__img-item {
  width: calc(50% - 5px);
}
.ocym-sec-about .about-block__img-item img {
  width: 100%;
  border-radius: 20px;
}
.ocym-sec-about .about-block__img-ttl {
  display: block;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .ocym-sec-about .about-block__img-ttl {
    font-size: 18px;
  }
}
.ocym-sec-about .about-block__ct {
  width: 35%;
  font-size: 18px;
  line-height: 1.5555555556;
  padding: 50px 0 0 4%;
}
@media screen and (max-width: 768px) {
  .ocym-sec-about .about-block__ct {
    width: 100%;
    padding: 0;
    font-size: 20px;
  }
}
.ocym-sec-about .about-block__ct-note {
  font-style: italic;
}
.ocym-sec-about .about-block__ct p {
  margin-bottom: 30px;
}
.ocym-sec-about .about-beauty {
  text-align: center;
  margin-bottom: 20px;
}
.ocym-sec-about .about-beauty__ttl {
  display: block;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .ocym-sec-about .about-beauty__ttl {
    font-size: 28px;
  }
}
.ocym-sec-about .about-beauty__years {
  background: black;
  color: white;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 1.2;
  padding: 30px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.ocym-sec-about .about-beauty__years span {
  display: block;
  font-size: 80px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .ocym-sec-about .about-beauty__years span {
    font-size: 60px;
  }
}
.ocym-sec-about .about-beauty__years small {
  display: block;
  font-size: 32px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .ocym-sec-about .about-beauty__years small {
    font-size: 20px;
    line-height: 1.6;
  }
}
.ocym-sec-about .about-beauty__years-patents {
  width: 40%;
}
.ocym-sec-about .about-beauty__years-property {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .ocym-sec-about .about-beauty__years-property {
    padding: 0 20px;
  }
}
.ocym-sec-about .about-video {
  max-width: 1200px;
  margin: 0 auto;
}
.ocym-sec-about .about-video iframe {
  width: 100%;
  height: 676px;
}
@media screen and (max-width: 768px) {
  .ocym-sec-about .about-video iframe {
    height: 51vw;
  }
}

div#cboxOverlay {
  background: #f1f0f0;
  opacity: 1 !important;
}
div#cboxOverlay:after {
  content: "";
  position: absolute;
  top: 50px;
  right: 50px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: white url("../img/top/close.png") no-repeat;
  background-size: 12px;
  background-position: center;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
@media screen and (max-width: 768px) {
  div#cboxOverlay:after {
    top: 20px;
    right: 20px;
  }
}
div#cboxOverlay:hover:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

#colorbox #cboxMiddleLeft, #colorbox #cboxMiddleRight {
  display: none !important;
}
#colorbox #cboxLoadedContent {
  border-radius: 40px !important;
  overflow: hidden !important;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  #colorbox #cboxLoadedContent {
    border-radius: 15px !important;
  }
}
@media screen and (min-width: 769px) {
  #colorbox .cboxPhoto {
    width: auto !important;
    height: 90vh !important;
    border-radius: 40px !important;
  }
}
@media screen and (max-width: 768px) {
  #colorbox .cboxPhoto {
    width: 100vw !important;
    height: auto !important;
  }
}
#colorbox #cboxContent {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  background: none;
}
@media screen and (max-width: 768px) {
  #colorbox #cboxContent {
    padding: 100px 0;
  }
}
#colorbox #cboxCurrent {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  width: 147px;
  height: 47px;
  border-radius: 50px;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 30px;
  text-align: center;
  border: 1px solid #ccc;
  background: #f1f0f0;
  color: #161C2D;
}
@media screen and (max-width: 768px) {
  #colorbox #cboxCurrent {
    bottom: 0;
  }
}
#colorbox #cboxPrevious {
  width: 50px;
  height: 46px;
  background: none;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  left: calc(50% - 75px);
  bottom: 30px;
}
@media screen and (max-width: 768px) {
  #colorbox #cboxPrevious {
    bottom: 0;
  }
}
#colorbox #cboxPrevious:before {
  content: "";
  border: solid #161C2D;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
#colorbox #cboxPrevious:after {
  content: "";
  width: 0;
  height: 2px;
  background: #161C2D;
  position: absolute;
  left: 20px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#colorbox #cboxPrevious:hover:before {
  left: -2px;
}
#colorbox #cboxPrevious:hover:after {
  width: 10px;
}
#colorbox #cboxNext {
  width: 50px;
  height: 46px;
  background: none;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  right: calc(50% - 75px);
  left: auto;
  bottom: 30px;
}
@media screen and (max-width: 768px) {
  #colorbox #cboxNext {
    bottom: 0;
  }
}
#colorbox #cboxNext:before {
  content: "";
  border: solid #161C2D;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
#colorbox #cboxNext:after {
  content: "";
  width: 0;
  height: 2px;
  background: #161C2D;
  position: absolute;
  right: 20px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#colorbox #cboxNext:hover:before {
  right: -2px;
}
#colorbox #cboxNext:hover:after {
  width: 10px;
}
/*# sourceMappingURL=map/news-style.css.map */