@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* ====================================================
Media Quary
==================================================== */
/* ====================================================
// flexセット
==================================================== */
/* ====================================================
画像などを縦横比を維持したままレスポンシブ対応
*画像やGoogle Map、YouTubeの埋め込みなどを縦横比を維持したままレスポンシブ対応
.photo {
  // 画像を16:9にトリミングして縦横比を常に保つ
  @include aspect-ratio(16, 9);

  & > .image {
    @include object-fit(cover);
  }
}
==================================================== */
.base-news img {
  max-width: 100%;
}

.c-ft--montserrat {
  font-family: "Montserrat", sans-serif;
}

.inner {
  width: 100%;
  max-width: 1346px;
  padding: 0 15px;
  margin: 0 auto;
}

.c-bg--gray {
  background: #FAFAFB;
}

.c-btn__01 {
  width: 100%;
  max-width: 173px;
  height: 48px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: white;
  border-radius: 10px;
  background: black;
  border: 1px solid black;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.c-btn__01:hover {
  background: white;
  color: black;
}

.sec-sns {
  padding: 100px 0;
}

.sns-block {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.sns-block__ct {
  width: 50%;
  padding: 0 80px 0 0;
  font-size: 18px;
  line-height: 1.5555555556;
  color: #161C2D;
}
.sns-block__ct-iframe {
  margin-bottom: 30px;
}
.sns-block__ct-ttl {
  display: block;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
.sns-block__ct p {
  margin-bottom: 20px;
}
.sns-block__ct-box-price {
  display: block;
  font-size: 21px;
  font-weight: 500;
}
.sns-block__ct-box-note {
  display: block;
  font-weight: 500;
  color: #609BDF;
  font-style: italic;
  margin-bottom: 10px;
}
.sns-block__img {
  width: 50%;
  border-radius: 28px;
  overflow: hidden;
}
.sns-block__img img {
  width: 100%;
}
.sns-block__img--zoom {
  border: 1px solid #464646;
}
.sns-block--event .sns-block__ct {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 0 0 80px;
}
.sns-block--event .sns-block__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border: none;
}

.sns-cmt {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -40px;
}
.sns-cmt__item {
  width: 33.333%;
  padding: 0 40px;
}
.sns-cmt__item--center {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
}
.sns-cmt__item--center .sns-cmt__box {
  -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.09);
}
.sns-cmt__box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px;
}
.sns-cmt__box-img {
  width: 50px;
}
.sns-cmt__box-ct {
  width: calc(100% - 50px);
  padding: 0 0 0 15px;
  font-size: 11px;
  line-height: 1.3818181818;
}
.sns-cmt__box-ct-name {
  display: block;
  font-size: 17px;
  color: black;
  font-weight: 600;
}
.sns-cmt__box-ct-note {
  display: block;
  font-size: 12px;
  color: #707070;
  margin-bottom: 15px;
}
.sns-cmt__box-ct p {
  margin-bottom: 15px;
}
.sns-cmt__box-ct-start {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sns-cmt__box-ct-start .sns-start {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 2px;
  background: url("../img/top/star.png") no-repeat;
  background-size: 100%;
}
.sns-cmt__box-ct-start .sns-start:nth-child(1) {
  margin-left: 0;
}
.sns-cmt__box-ct-start .sns-start--halt {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 2px;
  background: url("../img/top/star-half.png") no-repeat;
  background-size: 100%;
}
/*# sourceMappingURL=map/news-style.css.map */